<!-- todoList.component.html -->
<div class="toDolist">
  <div class="newTask">
    <input type="text" placeholder="New task" #todoText>
    <button (click)="addTask(todoText.value)">Add</button>
  </div>
  <div class="listOfTasks">
    <ul>

      <li *ngFor="let todoItem of todoList" [id]="todoItem.id" (click)="toggleCompleted(todoItem.id)">
        <span [class.completed]="todoItem.completed">{{ todoItem.task }}</span>
        <button (click)="deleteTask(todoItem.id)">Delete</button>
        <!--<input
            type="checkbox"
            [(checked)]="todoItem.completed"
            (change)="toggleCompleted(todoItem.id)"
        />-->

      </li>

    </ul>
  </div>
</div>