.toDolist {
  background-color: rgb(234, 234, 234);
  border-radius: 5px;
  border: solid black;
  margin: auto;
}

ul {
  list-style: none;
  padding: 0px;
}

.newTask {
  display: grid;
  grid-template: 'a a'/10fr 1fr ;
  text-decoration: none;
  margin: auto;
  padding: 10px;
  text-align: center;
}
.newTask input{
  grid-column: 1;
  border-radius: 5px;
}
.newTask button{
  grid-column: 2;
  border-radius: 5px;
}

.listOfTasks {
  background-color: white;
  margin: auto;
  padding: 10px;
}

li {
  display: grid;
  grid-template: 'a a' / 10fr 1fr;
  background-color: bisque;
  padding: 5px;
  margin: 5px;
  border: solid black;
}
li:hover {
  background-color: orange;
  cursor: pointer;
}
li span{
  grid-column: 1;
}
li span.complete{
  text-decoration: line-through;
}
li button{
  grid-column: 2;
}
i{
  color:red;
}