<!-- todoList.component.html -->
<div class="toDolist">
  <div class="newTask">
    <input type="text" placeholder="New task" #todoText>
    <button (click)="addTask(todoText.value)">Add</button>
  </div>
  <div class="listOfTasks">
    <ul>
      <li *ngFor="let todoItem of todoList" [id]="todoItem.id" (click)="toggleCompleted(todoItem.id)">
        <span [class.completed]="todoItem.completed">{{ todoItem.task }}</span>
        <button (click)="deleteTask(todoItem.id)"><i class="glyphicon glyphicon-remove"></i></button>
      </li>

    </ul>
  </div>
</div>